<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">My Blog</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/about"> About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/articles"> Articles</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/authors"> Authors</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      {% if session['logged_in'] %}
        <li class="nav-item active">
        <a class="nav-link" href="/logout"> Log out</a>
        <li class="nav-item active">
        <a class="nav-link" href="/dashboard"> Dashboard</a>
      </li>
      {% else %}
        <li class="nav-item active">
        <a class="nav-link" href="/login"> Log in</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/register"> Sign up</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
