{% extends 'layout.html' %}

{% block body %}
<h3>About</h3>
<hr>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid quidem reiciendis possimus facere doloremque
    sapiente nemo doloribus, omnis quaerat dolorem vitae voluptas ea hic a unde dignissimos odio quas. Voluptate, id
    officia. Reprehenderit deserunt perspiciatis hic quaerat, perferendis placeat magnam fugiat nobis numquam maiores
    error molestiae, voluptatem porro alias fugit!
</p>
<hr>

{% endblock body %}