{% extends 'layout.html' %}

{% block body %}
<h3 style ='text-align: center '> Articles </h3><hr>

{% if articles%}

<ul class="list-group">
    {% for article in articles %}
        <li class="list-group-item">
            <a href = "article/{{article.id}}"> <h4>{{article.title}}</h4><hr> </a>
            <strong><span> Added on {{article.created_date}} by {{article.name}} {{article.surname}}</span></strong><br>
        </li>
    {% endfor %}
</ul>

{% else %}
    <div class = 'alert alert-danger'>
        There in no any article in the system!
    </div>
{% endif %}

{% endblock body %}